@import url(null_sytle.css);

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'League Gothic';
	src: url('../assets/fonts/League_Gothic/LeagueGothic-Regular-VariableFont_wdth.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'League Spartan';
	src: url('../assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--font-family: "Roboto-Regular", sans-serif;
	--font-family-bold: "Roboto-Bold", sans-serif;
	--second-family: "League Spartan", sans-serif;
	--third-family: "League Gothic", sans-serif;

	--text-color: #000;
	--white-color: #fff;
	--gray-color: #D9D9D9;
	/* --backgorung-color: #0B0E17; */
	--backgorung-color: #161616;;
}

body {
	font-family: var(--font-family);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.hover {
	transition: all 0.3s ease;
	border-bottom: 0 solid #fff;
	text-decoration: none;
}

.hover__black {
	transition: all 0.3s ease;
	border-bottom: 0 solid #000;
	text-decoration: none;
}

.hover:hover {
	cursor: pointer;
	border-bottom-width: 1px;
}

.hover__black:hover {
	cursor: pointer;
	border-bottom-width: 3px;
}