@import url(null_sytle.css);

:root {
	--font-family: "Roboto", sans-serif;

	--text-color: #000;
	--white-color: #fff;
	--gray-color: #D9D9D9;
	/* --backgorung-color: #0B0E17; */
	--backgorung-color: #1E1E1E;;
}

body {
	font-family: var(--font-family);
	background-color: var(--backgorung-color);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}