.project_home__wrapper {
	padding : 100px 20px 100px 20px;
}

.project_home__project {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 80px;
}

.project_home__project-item {
	width: 360px;
	height: 450px;
	background-size: cover;
	background-position: center;
	background-color: var(--backgorung-color);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	transition: all 0.5s ease-in-out;
}

.project_home__project-title {
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	padding-bottom: 10px;
}

.project_home__project-tech-used {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}

.project_home__project-item-3 .project_home__project-title,
.project_home__project-item-3 .project_home__project-tech-used {
	color: #111;
}

.project_home__button {
	display: flex;
	gap: 50px;
	justify-content: center;
	flex-wrap: wrap;
}

.project_home__button-item {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	color: #000;
	background: #d9d9d9;
	padding: 18px 59px;
	position: relative;
	transition: all 0.5s ease-in-out;
	display: flex;
	/* align-items: center; */
	gap: 10px;
}

.project_home__button-item:first-child {
	padding: 18px 65px;
}

.project_home__button-item:before {
	content: url('/Icon.svg');
	display: block;
	width: 15px;
	height: 15px;
	/* background-image: url('/Icon.svg'); */
	background-repeat: no-repeat;
	background-position: left;
	transition: all 0.5s ease-in-out;
}

@media (max-width: 776px) {
	.project_home__wrapper {
		padding: 10px
	}

	.project_home__button {
		gap: 20px;
	}
}